.miabox-nav-bg-color{
  background-color: #2C2B2C ;
}

a:active {
color: blue;
}

a{
text-decoration: none;
}

.xs-row-to-column{
display: flex;
}

@media only screen and (max-width:36em){
.xs-row-to-column{
display:block;
}
}

body{
background-color: #151415;
}

.miabox-card img{
width: 100%;
height: 250px;
object-fit: cover;
margin-bottom: 20px;
border-radius: 5px;
}





.card--miabox{
position: relative;
transition: all .3s ease-in-out;


}

.card--miabox:hover{
position: relative;
transform: scale(1.2);
}

.card--miabox:hover .overlay{

visibility: visible;
opacity: 1;
z-index : 1111;


}
/* transform: scale(1.1); */

.card--miabox .overlay{
width: 100%;
height: 250px;
border-radius: 5px;
background-color: #15141594;
position: absolute;
top: 0;
opacity: 0;
visibility: hidden; 
transition: all .3s ease-in-out;
z-index : 1111;

}
/* 
*/
.overlay-header{
height: 60%;
}

.overlay-footer{
height: 40%;
background-color: #151415;
}

.btn-18{
border:white solid 1px; 
color:white; 
width: 15%; 
height: 30%;
border-radius: 5px;
}

